{% extends "YallaWebsiteBackendBundle:AdsManager:base_adv.html.twig" %}
{% block controlleraction  %}
{% if content.data[index] is defined %}
    <img src="{{ content.data[index]['link'] }}" width="150" height="100"/>
{% endif %}

<form enctype="multipart/form-data" action="{{ path('backend_ads_manager_save',  {'id': id, 'index': index})}}" class="" method="POST">
    {{ form_widget(form) }}
    {{ form_errors(form) }}
    {{ form_row(form._token) }}
    <input type="submit" class="btn btn-default" value="Save"/>
</form>
{% endblock%}