{% if entity.sm.facebook is not null %} 
    <a href='{{entity.sm.facebook}}'>
        <img src="{{ asset('bundles/yallawebsitefrontend/images/base/facebook_sm_icon.svg') }}" alt="SM Icon" height="40" width="40" />
    </a>
{% endif %}
{% if entity.sm.googleplus is not null %} 
    
    <a href='{{entity.sm.googleplus}}'>
        <img src="{{ asset('bundles/yallawebsitefrontend/images/base/googleplus_sm_icon.svg') }}" alt="SM Icon" height="40" width="40" />
    </a>
{% endif %}

{% if entity.sm.youtube is not null %} 
    <a href='{{entity.sm.youtube}}'>
        <img src="{{ asset('bundles/yallawebsitefrontend/images/base/youtube_sm_icon.svg') }}" alt="SM Icon" height="40" width="40" />
    </a>
{% endif %}

{% if entity.sm.soundcloud is not null %} 
    <a href='{{entity.sm.soundcloud}}'>
        <img src="{{ asset('bundles/yallawebsitefrontend/images/base/soundcloud_sm_icon.svg') }}" alt="SM Icon" height="40" width="40" />
    </a>
{% endif %}

{% if entity.sm.twitter is not null %} 
    <a href='{{entity.sm.twitter}}'>
        <img src="{{ asset('bundles/yallawebsitefrontend/images/base/twitter_sm_icon.svg') }}" alt="SM Icon" height="40" width="40" />
    </a>
{% endif %}

{% if entity.sm.instagram is not null %} 
    <a href='{{entity.sm.instagram}}'>
        <img src="{{ asset('bundles/yallawebsitefrontend/images/base/instagram_sm_icon.svg') }}" alt="SM Icon" height="40" width="40" />
    </a>
{% endif %}